main {
    background-color: white;
    width: 100%;
    height: 100%;
}

.con-slider {
    font-family: 'Poppins', arial, serif;
    box-shadow: 0px 0px 10px 3px black;
}

.carousel-item {
    height: 100vh;
} 

.carousel-control-prev-icon, .carousel-control-next-icon {
    padding: 30px 10px 30px 10px;  
    font-family: 'Poppins', arial, serif;
}
.carousel-control-prev-icon {
    left: 0;
    margin-left: -158px;
}
.carousel-control-next-icon {
    right: 0;
    margin-right: -158px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #265073;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    background-color: lightgray;
}

.container-about {
    margin: 100px 0px 100px 0px;
    font-family: 'Poppins', arial, serif;
}

.container-about h1 {
    color: black;
    font-size: 1.7em;
    font-weight: 700;
    padding-bottom: 20px;
}

.about {
    display: flex;
    align-items: center;
    margin: 0px 100px 0px 100px;
}

.about-logo {
    width: 30%;
    margin-left: 5pc;
}

.view-more-hmps {
    color: white;
    font-weight: 600;
    background-color: #265073;
    padding: 10px 10px 10px 10px;
    border: none;
    text-decoration: none;
}

.view-more-hmps:hover {
    color: black;
    background-color: lightgray;
    transition: 0.3s;
}

.container-news {
    padding: 0px 100px 0px 100px;
    padding-bottom: 50px;
    font-family: 'Poppins', arial, serif;
}

.news {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    z-index: 20;
}

.title-news {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title-news i {
    font-size: 1.7em;
    padding-right: 3px;
}
.title-news h1 {
    font-size: 1.7em;
}

/* CSS untuk hover pada card-news */
.card-news {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid lightgray;
    text-decoration: none;
    width: 32.7%;
    z-index: 20;
    transition: transform 0.3s ease, border 0.3s ease;
    color: black;
}

.card-news:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s; /* Menambahkan transisi untuk animasi yang halus */
}

.card-news img {
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease;

}

.card-news:hover img {
    transform: scale(1.05);
}

.card-news a {
    text-decoration: none;
    color: inherit;
}

.card-news-text p {
    width: 100%; /* Sesuaikan lebar ini dengan kebutuhan Anda */
    white-space: pre-wrap; /* Memastikan teks tidak terpotong di tengah kata */
    overflow: hidden; /* Menyembunyikan bagian teks yang melampaui lebar elemen */
    text-overflow: ellipsis; /* Menambahkan titik-titik di akhir teks yang terpotong */
    margin: 5px 0;
    font-size: 12px;
  }

.card-news .card-news-text {
    padding: 10px;
}

.card-news .card-news-text h4 {
    color: black;
    font-weight: 800;
    margin: 10px 0;
}

.card-news .card-news-text .crad-date-home{
    font-size: 0.9em;
    color: #777;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: lightgray;
  color: black;
  cursor: pointer; 
  width: 50px; 
  height: 50px; 
  border-radius: 10px; 
  font-size: 18px;
}

#myBtn:hover {
    background-color: grey;
}

/* Tablet 1024px */

@media  (max-width: 1024px) {
    /* Slider */
    .carousel-item {
        height: 370px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        margin: 0;
        padding: 30px;
        background-color: rgb(0, 0, 0, 0);
    }

    .carousel-control-next-icon, .carousel-control-prev-icon:hover {
        border-radius: 50%;
    }

    /* About */
    .container-about, .about {
        margin: 10px 20px 30px 0px;
        padding: 10px 0px 10px 20px;
    }


    .about-logo {
        display: none;
    }

    /* news */

    .container-news {
        margin: 0px 40px;
    }

    .news {
        flex-wrap: wrap;
    }

    .container-news {
        padding: 0;
    }

    .card-news {
        width: 49%;

    }
}

@media only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: landscape) {
    /* Gaya CSS untuk layar sangat besar dalam mode landscape */
    .carousel-item {
        height: 100vh;
    }

    .slider-img {
        height: 100vh;
    }

    .card-news {
        height: auto;
    }
}


@media (max-width: 768px) {

    /* Start Responsive Slider */
    .carousel-item {
        height: 250px;
    }

    .slider-img {
        height: 250px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        margin: 0;
        padding: 0;
        background-color: rgb(0, 0, 0, 0);
    }

    .carousel-control-next-icon, .carousel-control-prev-icon:hover {
        border-radius: 50%;
    }

    /* End Responsive Slider */

    /* Start Responsive About */
    .container-about {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .about {
        flex-direction: column;
        margin: 0;
        padding: 0px 30px;
    }

    .about-hmps {
        order: 2;
    }

    .about-logo {
        order: 1;
        display: block;
    }

    .about-logo {
        display: block;
        width: 50%;
        margin: 20px 0px;
    }

    /* End Responsive About */

    /* Start Responsive News */
    .container-news {
        margin: 0;
    }

    .title-news {
        justify-content: center;
        margin-top: 30px;
    }

    .news {
        width: 90%;
        flex-wrap: wrap;
        margin: 0;
    }

    .card-news {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 10%;
    }
    /* End Responsive News */
}